.Content-Home{
    padding-top: 100px;
    background-image: linear-gradient(to right,#E55D87, #3399ff);
    padding-bottom: 50px;
    margin-bottom: 20px;
}
.Content-Home img{
    height: 500px;
}

@media screen and (max-width:480px){
    .Content-Home img{
        height: 200px;
    }
    .Content-Home h1{
        font-size: 15px;
    }
    .Content-Home h2{
        font-size: 13px;
    }
}