.App {
  text-align: center;
}

.foother {
  left: 0;
  bottom: 0;
  width: 100%;
}
.Navbar{
transition: top 0.3s;
}
.form-group{
padding-bottom: 10px;
}
.custom-input{
width: 250px;
height: 30px;
border-radius: 5px;
border: none;
margin: 10px;
padding-left: 10px;
}
.form-submit{
padding-bottom: 0px;
}
.btn-submit{
width: 100px;
margin:10px;
height: 30px;
border: 1px solid #ffffff;
border-radius: 5px;
font-weight: bolder;
font-size: 15px;
color: #ffffff;
background-image: linear-gradient(to right,#E55D87, #3399ff);
}

.Potrait-Screen{
  position: absolute;
  top: 0px;
  height: auto;
  width: 30%;
  background-image: linear-gradient(to left,#E55D87, );
  text-align: left;
  padding-left: 20px;
  
}